# History files
.Rhistory

# R data files from past sessions
.Rdata
.Rproj.user
.DS_Store
data/.DS_Store
pictures/.DS_Store

# Preview of README.md
README.html

# Ignore files too large to push
data/Heritability_Bootstrap/heritability_survival_boot_fish.csv
data/Heritability_Bootstrap/heritability_dpf_boot_fish.csv
data/Heritability_Bootstrap/heritability_ADD_boot_fish.csv
