# History files
.Rhistory

# R data files from past sessions
.Rdata
.Rproj.user
.DS_Store
data/.DS_Store
pictures/.DS_Store

# Preview of README.md
README.html

# Ignore files too large to push
data/PhenoVar_Bootstrap/
figures/2019
figures/adult
figures/correlations
figures/misc
figures/presentation
figures/sdr
scripts/misc
scripts/2019

